#
# GRUB config for the EFI boot path on the BratanOS live ISO.
# (Distinct from the GRUB theme we install on disk; this file is consumed
# only while the live medium is booting.)
#

set default=0
set timeout=5

if loadfont "${prefix}/fonts/unicode.pf2" ; then
    insmod all_video
    set gfxmode="auto"
    terminal_input console
    terminal_output gfxterm
fi

set theme="${prefix}/themes/bratanos/theme.txt"
export theme

menuentry "BratanOS (x86_64)" --class arch --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=512M
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "BratanOS (x86_64) — copy to RAM" --class arch --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% copytoram cow_spacesize=512M
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "UEFI Shell" {
    insmod chain
    insmod fat
    insmod part_gpt
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    chainloader /shellx64.efi
}

menuentry "Reboot" { reboot }
menuentry "Shut down" { halt }
